# Typical location of this file is /usr/local/lib/systemd/system

[Unit]
Description=USB Gadget for Raspbery Pi 4 Ethernet-over-USB
ConditionPathIsDirectory=/sys/kernel/config/usb_gadget
Before=network.target
BindsTo=sys-devices-platform-soc-fe980000.usb-udc-fe980000.usb.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/rpi4-usb.sh up
ExecStop=/usr/local/bin/rpi4-usb.sh down

[Install]
WantedBy=network.target
